<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Movie Reviews</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input  ng-model="query" type="text" class="form-control" placeholder="Search" autofocus>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--end bootstrap navbar-->

<div class="search">
  <label class="formgroup">
    <select ng-model="reviewOrder">
      <option value="sort_name">Name</option>
      <option value="opening_date">Opening Date</option>        
    </select>
  </label>

  <label class="formgroup">
    <input type="radio" ng-model="direction" name="direction" checked>
    ascending
  </label>
  <label class="formgroup">
    <input type="radio" ng-model="direction" name="direction" value="reverse">  
    descending
  </label>
</div><!--search-->

<div class="reviewlist">
  <div class="review cf panel panel-primary" ng-repeat="item in reviews | filter:query | orderBy: reviewOrder:direction">
    <div class="panel-heading">
      <h3 class="panel-title">Review</h3>
    </div>
    <div class="panel-body">
      <a href="#/reviews/{{review.id}}">
        <img ng-src="{{item.multimedia.resource.src}}" alt="Photo of {{item.display_title}}">
        <div class="info">
          <h2>{{item.headline}}</h2>
          <h3>{{item.name}}</h3>
      </a>     
          <h3>Opening Date: {{item.opening_date}}</h3>
          <h4>By {{item.byline}}</h4>
        </div>   
    </div><!--panel-body-->
 </div><!--reviewList-->
