<section class="reviewinfo">
  <div class="review cf panel panel-primary ng-cloak" ng-controller="ControllerReviewDetail as reviewdetailvm">
    <a href="#/reviews/{{reviewdetailvm.prevReview}}" class="btn btn-left"><i class="material-icons">chevron_left</i></a>
    <a href="#/reviews/{{reviewdetailvm.nextReview}}" class="btn btn-right"><i class="material-icons">chevron_right</i></a>
    <div class="panel-heading">
      <h1>{{reviewdetailvm.review.sort_name}}</h1>
    </div>
    <div class="panel-body">
      <div class="info">
        <img ng-src="{{reviewdetailvm.review.multimedia.resource.src}}" alt="Photo of {{reviews.display_title}}">
        <h2>{{reviewdetailvm.review.headline}}</h2>
        <h4>{{reviewdetailvm.review.summary_short}}</h4>
        <h4>{{reviewdetailvm.review.byline}}</h4>
        <h3>
          <a href="{{reviewdetailvm.review.link.url}}">{{reviewdetailvm.review.link.suggested_link_text}}</a>
        </h3>
        <h2>Suggested Links</h2>
        <div ng-repeat="item in reviewdetailvm.review.related_urls">
          <h4><a href="{{item.url}}">{{item.suggested_link_text}}</a></h4>
        </div>
      </div>
      <a href="index.html">&laquo; Back to search</a> 
    </div><!--panel-body-->
  </div><!--panel-->
</section>